main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    text-align: center;
    width: 960px;
    margin: 0 auto;
    border: 2px dashed #FFFF00;
    
  
    

}

ul {
   list-style-type: none;
  }

li {
    background-color: #e2f0d9;
    margin: 5px 0;
    font-family: Arial, sans-serif;
    text-align: start;
    height: 30px;
    display: flex;
    align-items: center;
    color: #155724;
    font-weight: 600;
    padding-left: 15px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    height: 40px;
   
}
header {
    background-color: #f8d7da;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;

   
}

footer {
    background-color: #e9ecef;
  font-weight: 600;
    font-family: Arial, sans-serif; 
    color: #6c757d;
   border-radius: 5px;
   margin-bottom: 20px;
   
}





header, section, footer {
    width: 90%;
    }

section > * {
    width: 100%; 
    box-sizing: border-box;
    margin: 5px 0;
    border-radius: 8px;
}



h1 {
    font-family: Arial, sans-serif;
    color: #721c24;
    font-weight: 800;
    margin-bottom: 2px;
   

}

h2 {
    color: #dc3545;
    font-family: Arial, sans-serif;
    font-weight: 800;
    margin-top: 0;
   
}

img {
    width: 100%;
    height: auto;
    display: block;
    box-sizing: border-box;
    border-radius: 5px; 
    margin-bottom: 30px;
  
}

* {
    margin: 1;
    padding: 0;
    box-sizing: border-box; 
}

